body {
    background: url("img/pic.jpg");

}

.left {
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 55px;
    top: 45px;
}

.left img {
    width: 100px;
    filter: invert(100%);
}

.left div {
    line-height: 15px;
    font-size: 15px;
    text-align: center;
}

.mid {
    display: flex;
    width: 46%;
    margin: 20px auto;
    font-size: 30px;

    /* border: 2px solid green; */
}

.right {
    position: absolute;
    right: 44px;
    top: 20px;
    display: inline-block;
    margin: 35px auto;
    font-size: 49px;
    /* border: 2px solid yellow;  */
}

.navbar {

    display: flex;
}

.navbar li {
    color: white;
    display: inline-block;
    font: size 30px;
    margin: 20px auto;
    padding: 0 12px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 30px 6px;
}

.navbar li a:hover,
.navbar li a:active {
    text-decoration: underline;
    color: gray;
}

.btn {
    font-family: "Baloo Bhai 2", cursive;
    margin: 0px 6px;
    color: white;
    background-color: black;
    padding: 4px 8px;
    /* border: 2px solid red;  */
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(41, 39, 39);
}

.container {
    border: 2px solid white;
    margin: 106px 80px;
    padding: 30px 70px;
    width: 35%;
    border-radius: 35px;
}

.form-group input {
    text-align: center;
    display: block;
    width: 334px;
    padding: 1px;
    border: 2px solid black;
    margin: 3px auto;
    border-radius: 8px;
    font-size: 20px;
    font-family: "Baloo Bhai 2", cursive;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 33%;
    margin: 20px auto;
}